global
  maxconn 257

defaults
  mode http
  timeout client 15s
  timeout connect 15s
  timeout server 15s

frontend http-in
  bind 127.0.0.1:22000
  acl is_app_1 hdr_end(host) -i port22001.rhcloud.com
  acl is_app_2 hdr_end(host) -i port22002.rhcloud.com

  use_backend app-1 if is_app_1
  use_backend app-2 if is_app_2
  default_backend openshift-idle

backend app-1
  server local 127.0.0.1:22001 maxconn 32
backend app-2
  server local 127.0.0.1:22002 maxconn 32

backend openshift-idle
  server idle1 127.0.0.1:21999 maxconn 32


